<div class="row text-center">
    <div class="col-3">
        <h6>{{ThisPublisher.name}}</h6>
    </div>
    <div class="col-3">
        <h6>{{ThisPublisher.city}}</h6>
    </div>
    <div class="col-3">
        <h6>{{ThisPublisher.phoneNumber}}</h6>
    </div>
    <div class="col">
        <button class="btn btn-dark" (click)="EditBtnClick()">Edit/Details</button>
        <button class="btn btn-danger ml-1" (click)="DeleteBtnClick()"> Delete</button>
    </div>
</div>

<div class="text-center" [ngClass]="{'QuestionDiv':ShowQuestion}">
    <div class="MainMesage" [ngClass]="{'MainMessageHidde':!ShowQuestion}">
       <h6 class="mt-2">Do you want to delete "{{ThisPublisher.name}}" publisher?</h6> 
       <div class="row text-center">
           <div class="col">
                <button class="btn btn-danger" (click)="FinalDeleteBtnClick()">Delete</button>
           </div>
            <div class="col">
                <button class="btn btn-secondary" (click)="CancelBtnClick()">Cancel</button>   
            </div>
            
       </div>
        <h6 class="WaitingText" [ngClass]="{'WaitingTextDisplay':ShowLoadingText}" >Deleting...</h6>
     </div>

</div><!-- tu będzie wyświetlane zpytanie czy na pewno chcesz usunąć to -->
