<div class="container min-vh-75">
    <div class="row">
        <h4 class="col-auto">Add Author</h4>
        <button class="btn btn-primary ml-1" (click)="BackBtnClick()">Back</button>
    </div>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="form-group">
                <label>Author's name:</label>
                <input type="text" class="form-control" />                
            </div>
            <div class="form-group">
                <label>Author's surname:</label>
                <input type="text" class="form-control" [(ngModel)]="NewAuthor.surname"/>                
            </div>
            <div class="text-center">
                <button class="btn btn-primary">Add Author</button>
            </div>


        </div>
    </div>

</div>
