<div class="row border-bottom">
    <div class="col-2 text-center">
        <h6>{{ThisBook.title}}</h6>
    </div>
    <div class="col-2 text-center">
        <h6>{{ThisBook.genre}}</h6>

    </div>
    <div class="col-2 text-center">
        <h6> {{ThisBook.releaseDate}}</h6>
    </div>
    <div class="col-3 text-center">
        <app-authors-small-rectangle [BookId]="ThisBook.id"></app-authors-small-rectangle>
    </div>
    <div class="col-2 text-center">
        <button (click)="OpenDetails(ThisBook.id)" class="btn btn-dark">Details/Edit</button>
    </div>
</div>