.Section{
    border-left: 1px black solid;
    border-right: 1px black solid;
}

.Panels{
    border-bottom: 1px gray solid;

}


.Hidden{
    height: 0px;
    overflow: hidden;
    transition: height 0.3s;
    border-bottom: 1px transparent solid;

}

.Showed{
height: 40px;
border-bottom: 1px gray solid;

}