<div class="container">
    <div class="p-1">
        <div class="row pb-1 Panels">
            <h4 class="col-auto">Book Collection</h4>
            <button class="btn btn-xs btn-primary col-auto mr-1" (click)="SortShowBtnClick()">Sort <i class="fas" [ngClass]="{'fa-angle-down':HiddenSortPanel,'fa-angle-up':!HiddenSortPanel}"></i></button>
            <button class="btn btn-xs btn-primary col-auto mr-1" (click)="SearchShowBtnClick()">Search <i class="fas" [ngClass]="{'fa-angle-down':HiddenSearchPanel,'fa-angle-up':!HiddenSearchPanel}"></i></button><!--fa-angle-up-->
            <button class="btn btn-primary" (click)="AddBtnClick()">Add Book <i class="far fa-plus-square"></i></button>
        </div>
        <div class="row Panels Hidden" [ngClass]="{'Showed':HiddenSortPanel==false}"><!-- sorting panel-->
            <form class="row">
                <h6 class="col-auto">Sort </h6>
                <div class="col-auto">
                    <select class="form-control" >
                        <option value="0" selected>--Choose--</option>
                        <option value="1">Alphabetically Asc</option>
                        <option value="2">Alphabetically Desc</option>
                    </select>
                </div>
                <h6 class="col-auto">by:</h6>
                <div class="col-auto">
                    <select class="form-control" [(ngModel)]="SelectedSortPool">
                        <option value="0" selected>--Choose--</option>
                        <option value="1">Title</option>
                        <option value="2">Genre</option>
                    </select>
                </div>
                <button class="btn btn-primary" type="submit" (click)="SortBtnClick()" >Sort <i class="fas fa-sort"></i></button>
                <button class="btn btn-danger ml-1" (click)="SortClearBtnClick()" >X</button>

            </form>
        </div>
        <div class="Panels row Hidden"  [ngClass]="{'Showed':HiddenSearchPanel==false}"><!-- search panel-->
            <form class="row">
                <h6 class="col-auto">Search</h6>
                <div class="col-auto">
                    <input type="text" placeholder="phrase" class="form-control" [(ngModel)]="SearchInput" name="SearchInput"/>
                </div>
                <h6 class="col-auto">on:</h6>
                <div class="col-auto">
                    <select class="form-control" [(ngModel)]="SelectedSearchPool" name="searchingPool" >
                        <option value="0" selected>--Choose--</option>
                        <option value="1">Title</option>
                        <option value="2">Genre</option>
                        <option value="3">Author's name</option>
                        <option value="4">Author's surname</option>
                    </select>
                </div>
                <button class="btn btn-primary" type="submit" (click)="SearchBtnClick()" [disabled]="!SearchInput || SelectedSearchPool=='0'">Search <i class="fas fa-search"></i></button> 
                <button class="btn btn-danger ml-1" [hidden]="!SearchInput || SelectedSearchPool=='0'" (click)="SearchClearBtnClick()">X</button>
            </form>

        </div>
        
        <div class="Panels row">
            <div class="text-center Section col-2">
                <h6>Title</h6>
            </div>
            <div class="text-center Section col-2">
                <h6>Genre</h6>
            </div>
            <div class="text-center Section col-2">
                <h6>Release Date</h6>
            </div>
            <div class="text-center Section col-3">
                <h6>Authors</h6>
            </div>
        </div>
    </div>
    <div class="text-center" [hidden]="!NoBooks"><h4>No Books to display</h4></div>
    <app-book-list-element *ngFor="let book of DisplayingDictionaryBookAuthor"  [ThisBook]="book"></app-book-list-element>
</div>
