<div class="container">
    <div class="row">
        <h4 class="col-auto">Author Collection</h4>
        <button class="btn btn-primary mr-1 col-auto" (click)="AddAuthorBtnClick()">Add Author</button>
    </div>
    <div class="row border-bottom">
        <h6 class="col-auto">Search</h6>
        <input class="form-control col-2" placeholder="Phrase"/>
        <select>

        </select>
    </div>
    <div class="row mt-1 border-bottom border-secondary">
        <div class="text-center col-3 Properties">
            <h6>Name</h6>
        </div>
        <div class="text-center col-3 Properties">
            <h6>Surname</h6>
        </div>      
        <div class="text-center col-3 Properties">
            <h6>Number of books</h6>
        </div>
        <div class="text-center col-3 Properties">
        </div>
    </div>
    <app-author-list-element *ngFor="let author of DisplayAuthorsCollection" [ThisAuthor]="author"></app-author-list-element>


</div>
