<div class="shadow shadow-sm MyNavBar" ><!-- Nav bar-->
    <a routerLink="" class="NavElementLink">
        <div class="NavElement">
            Home
        </div>
    </a>
    <a routerLink="books" class="NavElementLink">
        <div class="NavElement">
            Book Collection
        </div>
    </a>
    <a routerLink="authors" class="NavElementLink">
        <div class="NavElement">
            Author List
        </div>
    </a>
</div>
<div><!-- main content-->
    <router-outlet></router-outlet>
    <footer>
        Jakub Nicewicz & Paweł Łaskarzewski 2019
    </footer>
</div>
      