<div class="container">
    <div class="m-1 border-secondary border-bottom ">
        <div class="row m-1">
            <h4 class="col-auto">Publishers Collection</h4>
            <button class="btn btn-primary col-auto" (click)="AddBtnClick()">Add Publisher <i class="far fa-plus-square"></i></button>            
        </div>
        <div class="row">
            <h6 class="col-auto">Search by name</h6>
            <form class="col row">
                <input type="text" class="form-control col-3 mr-1" placeholder="Phrase" [(ngModel)]="SearchInput" name="Searchinput"/>     
                <button class="btn btn-primary" type="submit" (click)="SearchBtnClick()" >Search <i class="fas fa-search"></i></button>  
                <button class="btn  btn-danger ml-1" [hidden]="!SearchInput" (click)="ClearInputBtnClick()" >X</button>
            </form>
     
        </div>
        <div class="row text-center">
            <div class="col-3 Section">
                <h6>Name</h6>
            </div>
            <div class="col-3 Section">
                <h6>City</h6>
            </div>
            <div class="col-3 Section">
                <h6>Phone Number</h6>
            </div>
        </div>
    </div>
    <div class="text-center" [hidden]="!NoPublishers" ><h4>No Publishers to display</h4></div>
    <div class="m-1" *ngFor="let publisher of DisplayPyblisherList" >
        <app-publisher-list-element  [ThisPublisher]="publisher" ></app-publisher-list-element>
    </div>
</div>
