<div class="container pt-2">
    <div class="">
        <button class="btn btn-dark" (click)="BackBtnClick()"><i class="fas fa-long-arrow-alt-left"></i> Back</button>
    </div>
    <div class="row shadow shadow-sm border">
        <div class="col-6 offset-3">
            <h4>Author Editing</h4>    
            <form>
                <div class="form-group">
                    <label>Name:</label>
                    <input type ="text" class="form-control" [disabled]="WrongId" [(ngModel)]="ThisAuthor.name" name="Name" />                    
                </div>
                <div class="form-group">
                    <label>Surname:</label>
                    <input type ="text" class="form-control" [disabled]="WrongId" [(ngModel)]="ThisAuthor.surname" name="surname" />                    
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary" [disabled]="WrongId" (click)="UpdateAuthorBtnClick()">Update</button>
                </div>
            </form>     
        </div>        
    </div>
</div>

<div class="text-center" [ngClass]="{'QuestionDiv':ShowQuestion}">
    <div class="MainMesage" [ngClass]="{'MainMessageHidde':!ShowQuestion}">
       <h6 class="mt-2">Do you want to update {{OriginalAuthor.name}} {{OriginalAuthor.surname}}</h6> 
       <div class="row text-center">
           <div class="col">
                <button class="btn btn-danger" (click)="FinalUpdateAuthorBtnClick()" [disabled]="DisableUpdateBtn">Update</button>
           </div>
            <div class="col">
                <button class="btn btn-secondary" (click)="CancelBtnClick()">Cancel</button>   
            </div>
</div>

