<div class="container min-vh-100">
    <div class="row">
        <h4 class="col-auto">Add Book</h4>
        <button class="btn btn-primary ml-1" (click)="BackBtnClick()"><i class="fas fa-long-arrow-alt-left"></i> Back</button>
    </div>
    <div class="row">
        <div class="col-8 offset-2">
            <div class="form-group">
                <label>Title:</label>
                <input type="text" class="form-control" [(ngModel)]="NewBook.title" name="Booktitle" />                
            </div>            
            <div class="form-group">
                <label>Release Date:</label>
                <input type="date" class="form-control" [(ngModel)]="NewBook.releaseDate" name="releaseDate"/>                
            </div>
            <div class="form-group">
                <label>Number of pages:</label>
                <input type="number" class="form-control" [(ngModel)]="NewBook.pages" name="pages"/>                
            </div>
            <div class="form-group row">
                <label class="col-auto">Publisher:</label>
                <select class="form-control col" [(ngModel)]="SelectedPublisher">
                    <option value="" selected>Select Publisher</option>
                    <option *ngFor="let publisher of PublishersList" value="{{publisher.id}}" >{{publisher.name}}</option>
                </select>
            </div>
            <div class="form-group row">
                <label class="col-auto">Genre:</label>
                <select class="form-control col" [(ngModel)]="NewBook.genre">
                    <option value="" selected>Select Genre</option>
                    <option *ngFor="let genre of GenresList" value="{{genre}}" >{{genre}}</option>
                </select>
            </div>

            <div class="form-group row">
                <div class="col-auto">
                    <select class="form-control" [(ngModel)]="SelectedAuthor" >
                        <option value="" selected>Select author</option>
                        <option *ngFor="let author of AuthorsList" value="{{author.id}}">{{author.surname}} {{author.name}}</option>
                    </select>
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary" (click)="AddAuthorClick()">Add <i class="fas fa-long-arrow-alt-right"></i></button>
                </div>
                <div class="col">
                    <h6>Assigned authors:</h6>
                    <div>
                        <div *ngIf="ChoosedAuthors.length!=0; else NoAuthors">
                            <div class="row m-1" *ngFor="let author of ChoosedAuthors">
                                <h6  class="col-9">- {{author.name}} {{author.surname}}</h6>
                                <button class="btn btn-primary col-2" (click)="RemoveAuthorClick(author.id)">X</button>
                            </div>
                        </div>
                    </div>

                    <ng-template #NoAuthors><h6>No authors added</h6></ng-template>
                    
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary" (click)="AddBookBtnClick()">Add Book <i class="far fa-plus-square"></i> </button>
            </div>
        </div>
    </div>

</div>