<div class="container pt-2">
    <div>
        <button class="btn btn-dark mr-1" (click)="BackBtnClick()">Back</button>
        <button class="btn btn-dark" [attr.disabled]="WrongId">Edit this book</button>
    </div>
    <div class="mt-2 border shadow shadow-sm">
        <h4>Book details</h4>
        <div>
                  <h5>Title: {{CertainBook.title}}</h5>  
        </div>
        <div>
            <h5>Release Year: {{CertainBook.releaseYear}}</h5>
        </div>
        <div>
            <h5>Genre: {{CertainBook.genre}}</h5>
        </div>
        <div>
            <h5>Publisher: {{BookPublisher.name}}</h5>
        </div>
        <div>
            <h5>Authors:</h5>
            <h6 *ngFor="let author of AuthorList">{{author}}</h6>
        </div>

    </div>
</div>
